<p><%= select_tag "roles", options_for_select([["Select option",""],["groups"],["tasks"]]), value: "Choose something from list", class: "form-control", id: "groups" %></p>
<%= link_to "Manage", "#", class: "btn btn-success btn-md", id: "manage_groups" %>