// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	padding-top: 80px;
}
p.content {
	word-break: break-all;
}
div.task
{
	background: none repeat scroll 0% 0% white;
	box-shadow: 1px 1px 5px #B1B1B1;
	padding: 10px;
	margin-bottom: 20px;
}
div.task>h2
{
	margin-top: 0px;
}
p.task-details
{
	font-size: 12px;
}
.alert-error
{
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
textarea#comment_content
{
	width: 100%;
}
p.images > img {
    width: 90px;
    margin: 0px 5px 10px 5px;
}